@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap');

#bgVideo {
  background-size: cover;
  position: fixed;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: -1;
  filter: brightness(25%);
}

.rideaway-logo{ 
    cursor: pointer;
    width: 200px;
    height: 150px;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Montserrat", sans-serif;
}

/* styling for Navigation Bar's button texts */
li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

/* add zoom effect upon hovering the button by scaling */
.cta:hover{
    transform: scale(1.1);
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}


.slogan h1{
  font-family: "Syncopate", sans-serif;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1vw;
  line-height: 1.2;
  font-size: 3vw;
  text-align: center;
}

.slogan h1 span{
  display: block;
  font-size: 10vw;
  letter-spacing: -1.3vw;
}

.ride{
  color: white;
}

.nav-bar{
    list-style: none;
}

.nav-bar li{
    display: inline-block;
    padding: 0px 20px;
}

.nav-bar li a{
    transition: all 0.3s ease 0s;
}

.nav-bar li a:hover{
    color: #0088a9
}

button{
    padding: 9px 25px;
    background-color: rgba(0,136,168,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: rgba(0,136,168,0.8);
}

footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    background: #111;
    color: white;
  }

  .main-content{
    display: flex;
  }

  .main-content .box{
    flex-basis: 50%;
    padding: 10px 20px;
  }

  .box h2{
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
  }

  .box .content{
    margin: 20px 0 0 0;
  }

  .left .content p{
    text-align: justify;
  }

  .left .content .social{
    margin: 20px 0 0 0;
  }

  .left .content .social a{
    margin: 0 2px;
  }

  .left .content .social a span{
    height: 40px;
    width: 40px;
    background: #1a1a1a;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3s;
  }

  .left .content .social a span:hover{
    background: #f12020;
  }

  /* aligning text of "How It Works" to centre*/
  .heading{
    text-align: center;
  }

  .heading span{
    font-weight: 500;
    text-transform: uppercase;
  }

  .heading h1{
    font-size: 2rem;
  }

  .ride-container{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(250px,auto));
    gap: 1rem;
    margin-top: 2rem;
  }

.ride-container .box{
  text-align: center;
  padding: 20px;
}

.ride-container .box img{
  font-size: 34px;
  padding: 10px;
  background: #eeeff1;
  border-radius: 0.5rem;
}

/* changing font size of "Choose a Location etc... */
.ride-container .box h2{ 
  font-size: 1.3rem;
  font-weight: 500;
  margin: 1.4rem 0 0.5rem;
}

.rent-procedure{
background-color: rgba(0, 0, 0, 0.3);
  color: white;
  position: relative;
  padding: 1rem;
}
